@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
.card-course-item{
    margin-top: 16px;
}

.checkbox-select-all-options{
    width: 140px;
    margin: 0 16px;
}