<div class="mt-4">
  <h3>Đăng khoá học</h3>

  <form method="POST" action="/courses/store">
    <div class="form-group">
      <label for="name">Tên khoá học</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>

    <div class="form-group">
      <label for="description">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="videoId">VideoId</label>
      <input type="text" class="form-control" id="videoId" name="videoId" />
    </div>

    <div class="form-group">
      <label for="level">Mô tả</label>
      <input type="text" class="form-control" id="level" name="level" />
    </div>

    <button type="submit" class="btn btn-primary">Thêm khoá học</button>
  </form>
</div>