<div class="mt-4">
  <h3>Cập nhật khoá học</h3>

  <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="form-group">
      <label for="name">Tên khoá học</label>
      <input
        type="text"
        class="form-control"
        value="{{course.name}}"
        id="name"
        name="name"
      />
    </div>

    <div class="form-group">
      <label for="description">Mô tả</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        name="description"
      >{{course.description}}</textarea>
    </div>

    <div class="form-group">
      <label for="videoId">VideoId</label>
      <input
        type="text"
        class="form-control"
        value="{{course.videoId}}"
        id="videoId"
        name="videoId"
      />
    </div>

    <div class="form-group">
      <label for="level">Mô tả</label>
      <input
        type="text"
        class="form-control"
        value="{{course.level}}"
        id="level"
        name="level"
      />
    </div>

    <button type="submit" class="btn btn-primary">Lưu lại</button>
  </form>
</div>