<div class="mt-4">
    <div class="row">
          <div class="col-lg-3">
           <button>Học ngay</button>
           <ul>
            <li>{{course.level}}</li>
           </ul>
          </div>

          <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, nulla ut aut reprehenderit rem corporis quod amet voluptate labore, aliquam numquam ipsum animi ab necessitatibus laboriosam, aperiam repudiandae eius incidunt?</p>
            <p>{{course.description}}</p>
          </div>
    </div> 
</div>