{{!-- 31:17 --}}
<div class="mt-4">
  <div>
    <h3>Khóa học đã xóa</h3>
    <a href="/me/stored/courses">Danh sách khóa học</a>
  </div>
  <table class="table">
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên khóa học</th>
          <th scope="col">Trình độ</th>
          <th scope="col">Thời gian xoá</th>
          <th scope="col">Chức năng</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <form action="">

            </form>
            <a href="" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal"
              class="btn btn-link">Xoá vĩnh viễn</a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Thùng rác trống.
            <a href="/me/stored/course">Danh sách khóa học</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </table>
</div>

{{! xoa khoa hoc }}

<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá khoá học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var restoreBtn = $('.btn-restore')

    // when dialog confirm clicked 
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button =
        $(event.relatedTarget)
      courseId = button.data('id')
      console.log(courseId);
    });
    // when dialog course btn clicked
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
      deleteForm.submit();
    }

    restoreBtn.click(function (e) {
      e.preventDefault();
      var courseId = ($(this).data('id'));
      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit();
    })
  })
</script>

{{! 16:58 }}